@media (max-width: 1170px)

	.aboutUs
		background-size: cover
		background-position: center center

@media (max-width: 768px)
	
	.aboutUs
		background-size: cover
		background-position: center center

	.aboutUsMain .availabilityDomain button
		width: 166px