@media (max-width: 1170px)

	.clientsReview 

		justify-content: space-around

	.clientsReviewItem

		margin:
			bottom: 130px

@media (max-width: 768px)
	
	.clientsReviewText
		font-size: 18px

	.clientsReviewItem

		width: 320px
		padding: 0
		padding:
			bottom: 60px
		margin:
			bottom: 70px
	
	.pwl-carousel
		position: relative

	.owl-dots
		position: absolute
		



