@media (max-width: 1170px)
	
	.features
		padding: 
			top: 20px
			bottom: 20px
		background-position: center 180px

		&ItemList
			justify-content: space-around

@media (max-width: 768px)
	
	.features
		background-image: none

		&ItemText
			font-size: 18px
