@media (max-width: 1170px)
	
	.container
		width: 769px
		padding: 
			left: 20px
			right: 20px
		box-sizing: border-box

@media (max-width: 768px)

	.container
		width: 320px
		padding: 
			left: 20px
			right: 20px
		box-sizing: border-box
		

@media (max-width: 320px)

	html, body
		min-width: 320px