@media (max-width: 1170px)

	.ourClients

		justify-content: center

		&Text

			margin:
				right: 0
				bottom: 20px
			text-align: center
			width: auto

@media (max-width: 768px)
	
	.ourClients

		&SupTitle
			font-size: 18px

		&Partners
			justify-content: center