@media (max-width: 1170px)

	.pricingMain

		justify-content: center
		text-align: center
		padding: 50px
		flex-direction: column
	
	.pricingText

		margin:
			bottom: 30px
			right: 0

@media (max-width: 768px)
	
	.pricingTitle
		font-size: 20px




