@media (max-width: 1170px)

	.services
		flex-direction: column
		align-items: center
		justify-content: center
		min-width: 769px

	.servicesItemWrap--Blue
		width: 100%
		justify-content: center

	.servicesItemWrap--Yellow
		width: 100%
		justify-content: center

@media (max-width: 768px)
	

	.services
		min-width: 321px

	.servicesItem
		width: 310px
		padding: 
			left: 0
			right: 0

	.servicesItem .servicesItemImage
		width: 300px

	.servicesItem .servicesItemSupTitle

		font-size: 18px





