.clientsReview

	display: flex
	color: #adadad
	flex-wrap: wrap
	justify-content: space-between
	margin:
		bottom: 30px

	&Item
	
		display: flex
		width: 320px
		flex-direction: column
		background-color: #faf9f9
		width: 320px
		position: relative
		margin:
			bottom: 80px
		padding:
			top: 30px
			left: 20px	
			right: 20px
			bottom: 60px

	&Text

		color: #adadad
		font-family: "Rockwell-Italic"
		font-style: italic

	&Author
		font-family: "Raleway-Bold"
		font-weight: bold
		color: #737373
		position: absolute
		bottom: 20px
		font-size: 16px

	&Image

		position: absolute
		right: 20px
		bottom: -60px



