.features
	background-color: #fbf8f1
		

.featuresMain
	background-image: url("../img/molecular-big.png")
	background-position: center 90px
	background-repeat: no-repeat
	padding: 
		top: 90px
		bottom: 60px
	text-align: center

	
	.featuresTitle
		font-size: 48px
		line-height: 48px
		font-family: "Raleway-Bold"
		font-weight: bold
		margin-bottom: 30px
		
	.featuresText
		font-size: 24px
		margin-bottom: 35px

	.featuresItemList
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		overflow: hidden

		
		.featuresItem
			width: 260px
			padding:
				top: 25px
				bottom: 25px
			margin-bottom: 30px
			
			.featuresItemImage
				height: 150px
				display: flex
				align-items: center
				justify-content: center
				padding-bottom: 65px
				position: relative
				
				&::after
					content: ""
					width: 70px
					height: 3px
					background-color: grey
					position: absolute
					bottom: 33px

			.featuresItemTitle
				font-family: "Rockwell", monospace
				color: #f4d320
				font-size: 30px
				margin-bottom: 25px
				line-height: 30px



				


				

				




			

