.wrapper
	font-size: 14px
	line-height: 24px
	font-family: "Raleway-Regular", "Raleway-Black", "Raleway-Bold", "Raleway-Light", "Raleway-Medium", 
	"Raleway-SemiBold", "Raleway-Thin", "Raleway-BlackItalic", "Raleway-BoldItalic", 
	"Raleway-ExtraLightItalic", "Raleway-LightItalic", "Raleway-MediumItalic", "Raleway-Italic", 
	"Raleway-SemiBoldItalic", "Raleway-ThinItalic", "Rockwell", "Rockwell-Bold", "Rockwell-BoldItalic", 
	"Rockwell-Italic", "Lato-Bold", "Arial", monospace, sans-serif

.container 
	width: 1170px
	margin: 0 auto


	.button 

		a

			transition-duration: 0.3s

			&:hover
				background-color: #f2d73a

			&:active
				background-color: #e5cb37	
				box-shadow: 0 2px 3px inset


a 
	text-decoration: none
	color: black

p
	margin: 0

input, select, button
	margin: 0
	padding: 0
	border: none
	outline: none

li
	list-style: none

	a
		transition-duration: 0.2s

		&:hover
			color: #ffe13e
			font-weight: bold

		&:active
			color: #ffe13e
			font-weight: bold
			text-shadow: -2px 1px 3px grey
input
	
	transition-duration: 0.2s

	&:focus
		outline: 2px solid #ffe13e








