.mainHeader
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap

.headerLogo
	display: flex
	font-size: 30px
	align-items: center
	margin-right: 40px
	font-family: "Rockwell", monospace

	img
		margin-right: 18px

	p 
		
		span
			font-weight: bold
			font-family: "Rockwell-Bold", monospace


.burgerMenu
	display: none

.navMenu
	display: flex
	list-style: none
	padding: 0
	flex-wrap: wrap
	justify-content: center
	margin: 
		bottom: 20px
		right: 30px
		top: 30px


	li
		display: flex
		font-size: 16px
		text-transform: uppercase
		margin-right: 38px

		&:first-child

			a
				color: #ffe13e
				font-weight: bold

				

.headerLiveHelp
	display: flex
	width: 283px
	flex-wrap: wrap
	justify-content: space-between
	
	align-items: center;
	margin-bottom: 20px
	
	
	.liveText
		font-size: 12px
		margin-bottom: 25px
		font-family: "Raleway-SemiBold"

		
	.liveHelpBtn
		position: relative

		a
			width: 122px
			height: 40px
			background-color: #ffe13e
			display: flex
			justify-content: center
			align-items: center
			font-weight: bold
			font-family: "Raleway-SemiBold"

			// &:hover
			// 	background-color: #f2d73a

			// &:active
			// 	background-color: #e5cb37	
			// 	box-shadow: 0 2px 3px inset



		&::after
			content: ''
			width: 1px
			height: 34px
			background-color: #babbc4
			position: absolute
			left: 144px
			top: 3px
			
	
	.liveHelpNumber
		font-size: 24px
		font-family: "Lato-Bold"
		font-weight: bold


	








	
	

	

		

			
		
		

	



		









































