.pricing

	background-color: #202242

	&Main

		padding: 90px
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap

	&Text

		color: #ffffff
		margin: 
			right: 30px

	&Title

		font-size: 36px
		line-height: 36px
		font-family: "Raleway-Bold"
		font-weight: bold
		margin-bottom: 20px
	
	&SupTitle

		font-size: 18px
		color: #67687b

	&Btn a
		display: flex
		color: black
		width: 225px
		height: 80px
		background-color: #ffe13e
		flex: 0 0 auto
		align-items: center
		text-align: center
		justify-content: center
		font-size: 18px
		font-family: "Raleway-Bold"
		font-weight: bold
		border: 4px solid #fff
		overflow: hidden


